@import "tailwindcss";
@theme {
  --color-background: #020617;
  --color-text1: #f5f5f5;
  --color-text2: #aeb4c8;
  --color-text3: #8892b0;
  --color-primary: #b52626;
  --color-secondary: #00df9a;
  --color-card: #0B0F21;
}
html {
    scroll-behavior: smooth;
    background-color: #020617;
  }

  .red-btn {
    display: none;
  }
  .yellow-btn {
    display: none;
  }
  .green-btn {
    display: none;
  }
